table#game {
  margin-top: 20px;
}

.names h2 {
  text-align: center;
}

a {
  font-size: x-large;
  text-align: center;
  margin-top: 20px;
}

table#game, .names, a {
  display: none;
}

tr {
  height: 250px;
}

td {
  width: 250px;
  border: 1px solid black;
  font-size: xx-large;
  text-align: center;
}

button {
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}